html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.chit-chat-bar {
    background-image: linear-gradient( #000000, #01252c, #043b46);
    height: 100px;
    width: 100vw;
    margin-bottom: 20px;
}

.brand-logo {
    padding: 10px;
}


.app {
    background-image: linear-gradient(#054552, #01252c, #01252c);
    display: grid;
    place-items: center;
    height: 100%;
    background-size: 100% 100%;
}


.app-body {
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(255, 255, 255, 0.7);
    margin-top: -30px;
    justify-content: center;
    background-image: url('/bgImage.jpg');
    background-size: contain;
    background-attachment: fixed;
}


.bright-brand-color {
    background-color: #f5f5f5;
}

.bright-2-brand-color {
    background-color: #e0e0e0;
}

.bright-3-brand-color {
    background-color: #39717c;
}

.dark-blue-brand-color {
    background-color: #033943;
}

.dark-brand-color {
    background-color: #01252c;
}

.creation-form {
    text-decoration:white;
    padding: 50px 45px;
    background-color: #01252c;
    border-radius: 10px;
    animation: transitionIn 0.75s;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
    min-height: 400px;
    justify-content: center;
    flex: 0 0 auto;
    width: 33.33%;
}

.create-button {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rgb(237, 239, 231);
    color: #043e4a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 55px;
    margin-bottom: 30px;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: #01252c;
    justify-self:center;
    padding: 0 20px;

}

input {
    padding: 10px;
    margin: 7px 0px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(237, 239, 231);
}

.back-tolist-button {
    height: 50px;
    float: left;
    position: relative;
    border: none;
    background-color: rgb(237, 239, 231);
    color: #043e4a;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 55px;
    margin-bottom: 30px;
}

.feedback {
    border-color: #F9FFE5;
    border: 1px;
    padding: 10px;
}

.feedback-table {
    background-color: rgba(0,0,0,0.5);
    color: #F9FFE5;
    text-align: center;
    margin:0;
}

.feedback-button {
    width: 100%;
    height: 50px;
    padding: 1px;
    border: none;
    background-color: rgb(231, 239, 231, 1);
    color: #043e4a;
    border-radius: 2px;
    font-size: 18px;
    text-decoration:none;
    cursor: pointer;
}

.details {
    padding: 50px 45px;
    background-color: #01252c;
    border-radius: 10px;
    animation: transitionIn 0.75s;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
}

.delete {
    padding: 50px 45px;
    background-color: #01252c;
    border-radius: 10px;
    animation: transitionIn 0.75s;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
}

.average-rate {
    color: rgb(237, 239, 231);
    text-align: center;
    font-weight: 650;
    font-size: xx-large;
    border: 2px solid rgb(3, 50, 59);
    background-image: linear-gradient(#054552, #01252c, #01252c);
    width: fit-content;
    margin: auto;
    width: 50%;
    border-radius: 5px;
    padding:10px;
}

.search {
    padding:10px;
    width: fit-content;
    margin: auto;
    width: 50%;
    text-align: center;

}